a.sourceLine { display: inline-block; line-height: 1.25; }
a.sourceLine { pointer-events: none; color: inherit; text-decoration: inherit; }
a.sourceLine:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode { white-space: pre; position: relative; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
code.sourceCode { white-space: pre-wrap; }
a.sourceLine { text-indent: -1em; padding-left: 1em; }
}
pre.numberSource a.sourceLine
  { position: relative; left: -4em; }
pre.numberSource a.sourceLine::before
  { content: attr(title);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; pointer-events: all; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    color: #484f58;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #484f58;  padding-left: 4px; }
div.sourceCode
  {  }
@media screen {
a.sourceLine::before { text-decoration: underline; }
}
code span.al { color: #ff7b72; font-weight: bold; } /* Alert */
code span.an { color: #8b949e; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #ffa657; } /* Attribute */
code span.bn { color: #79c0ff; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #ff7b72; font-weight: bold; } /* ControlFlow */
code span.ch { color: #a5d6ff; } /* Char */
code span.cn { color: #79c0ff; } /* Constant */
code span.co { color: #8b949e; font-style: italic; } /* Comment */
code span.cv { color: #8b949e; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #8b949e; font-style: italic; } /* Documentation */
code span.dt { color: #ffa657; } /* DataType */
code span.dv { color: #79c0ff; } /* DecVal */
code span.er { color: #ff7b72; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #79c0ff; } /* Float */
code span.fu { color: #d2a8ff; } /* Function */
code span.im { color: #ffa657; } /* Import */
code span.in { color: #8b949e; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #ff7b72; font-weight: bold; } /* Keyword */
code span.op { color: #c9d1d9; } /* Operator */
code span.ot { color: #79c0ff; } /* Other */
code span.pp { color: #ffa657; } /* Preprocessor */
code span.sc { color: #a5d6ff; } /* SpecialChar */
code span.ss { color: #a5d6ff; } /* SpecialString */
code span.st { color: #a5d6ff; } /* String */
code span.va { color: #c9d1d9; } /* Variable */
code span.vs { color: #a5d6ff; } /* VerbatimString */
code span.wa { color: #ffa657; font-weight: bold; font-style: italic; } /* Warning */
